---
// Tell Astro that the content return by this page is part of an existing HTML page, it's not a complete HTML page.
export const partial = true

globalThis.counter = globalThis.counter > 0 ? (globalThis.counter -= 1) : 0
---

<span>{globalThis.counter}</span>
