---
let counter = 0
---

<main>
	<div id="counter">{counter}</div>
</main>

<style>
	main {
		height: 20%;
		display: flex;
		justify-content: center;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
			'Nimbus Sans', Arial, sans-serif;
	}
	#counter {
		margin-left: 8px;
		font-size: 26px;
	}
</style>
