---
globalThis.counter = 0
---

<!-- We first initialize the counter, and then we use it within the scope. -->
<main x-data="{ counter: 0 }">
	<div id="alp-counter" x-text="counter"></div>

	<div id="buttons">
		<button x-on:click="counter += 1">+</button>
		<button x-on:click="counter = (counter > 0) ? counter - 1 : 0">-</button
		>
	</div>
</main>

<style>
	main {
		height: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
			'Nimbus Sans', Arial, sans-serif;
	}
	#alp-counter {
		font-size: 48px;
		color: #4f4f4f;
	}
	#buttons {
		margin-top: 20px;
	}
	button {
		margin: 2px 4px;
		padding: 4px 12px;
		border: 1px solid rgb(212, 212, 212);
		border-radius: 6px;
	}
</style>
